# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.lo
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
transmission-create
transmission-edit
transmission-remote
transmission-show
transmission-cli
transmission-qt
bitfield-test
blocklist-test
clients-test
crypto-test
error-test
file-test
history-test
json-test
magnet-test
makemeta-test
metainfo-test
move-test
peer-msgs-test
quark-test
rename-test
rpc-test
session-test
subprocess-test
tr-getopt-test
utils-test
variant-test
watchdir-generic-test
watchdir-test

# autotools
Makefile
/autom4te.cache
/stamp-h1
/libtool
/config.status
/config.h*
/test-driver
/test-suite.log
.libs
.deps
.dirstamp
*.log
*.trs
*.tar.gz
*.gmo
po/.intltool-merge-cache
po/POTFILES
po/stamp-it

# editors
*.swp
*.swo
*~

# other
*.pyc
/tags
*.spec
config.pri
*.appdata.xml
*.desktop
gtk/transmission-resources.c
gtk/transmission-resources.h
qt/moc_*
qt/.qmake.stash
qt/*.moc
qt/qrc_*
qt/ui_*

# orig
.depend
/REVISION
Transmission.xcodeproj/*.mode*
Transmission.xcodeproj/*.pbxuser
Transmission.xcodeproj/*.xcworkspace
Transmission.xcodeproj/xcuserdata
/beta
/build
cli/transmissioncli
daemon/transmission-daemon
daemon/transmission-proxy
daemon/transmission-remote
gtk/defines.h
gtk/transmission-gtk
libtransmission/version.h
macosx/Info.plist
macosx/Transmission.app
macosx/en.lproj/*~.nib
po/*.mo
third-party/miniupnp/miniupnpcstrings.h
